.banner{
    background: url("https://i.ibb.co/XxqVwby/Black-abstract-motion-phone-wallpaper-1.png") 
    no-repeat center center;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 100%;
    color: #fff;
}